
section.section_first{
    margin-top: 70px;
}

.about_gallery_image_1 {
    background-image: url('../img/about/the artist/2_1 todo.jpg') !important;
  }
  
  .about_gallery_image_2 {
    background-image: url('../img/about/the artist/3 decofoam.jpg')  !important;
  }
  
  .about_gallery_image_3 {
    background-image: url('../img/about/the artist/3.1 decofoam.jpg')  !important;
  }
  
  .about_gallery_image_4 {
    background-image: url('../img/about/the artist/5.jpg')  !important;
  }
  
  .about_gallery_image_5 {
    background-image: url('../img/about/the artist/decofoam\ 2.jpg')  !important;
  }
  
  .about_gallery_image_6 {
    background-image: url('../img/about/the artist/decofoam.jpg')  !important;
  }
  
  .about_gallery_image_7 {
    background-image: url('../img/about/the artist/decofoam\ 3.jpg')  !important;
  }
  
  .about_gallery_image_8 {
    background-image: url('../img/about/the artist/fune.jpg')  !important;
  }
  
  .about_gallery_image_9 {
    background-image: url('../img/about/the artist/sospeso\ 1.jpg')  !important;
  }



.card {
  width: 90%;

  background: white;
  box-shadow: 0 10px 30px rgb(0 0 0 / 5%);
  border: none;  
  position: relative;
  color: #434343;
  margin: 0 auto;

  margin-top: 35px;
}

.card__container img{
  display: block;
  margin: 0 auto;
  width: 40%;
}

div.card__title{
  height: 140px;
}

.card__container img#mirabelle{
  display: bloc;
  margin: 0 auto;
  width: 100%;
}


.card .card__container {
  padding: 1rem;
  width: 100%;
  height: 350px;
  background: white;
  border-radius: 1rem;
  position: relative;
}

.card .card__container__branches {
  padding: 1rem;
  width: 100%;
  height: 400px;
  background: white;
  border-radius: 1rem;
  position: relative;
}


.card__button button{
  display:block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 35px;
}

div.card__button{
  background: #ffc1b6;
}

div.card__button_alt{
  background: #ffdcb8 !important;
}


.card .card__header {
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
}

h1.card__header {
  margin-top: 50px;
}

h4.card__body{
  margin-bottom: 55px;
}

